/* coming soon page */

@font-face {
  font-family: "Airbnb-Cereal";
  src: url("../../assets/fonts/AirbnbCerealBook.ttf"),
    url("../../assets/fonts/AirbnbCerealLight.ttf"),
    url("../../assets/fonts/AirbnbCerealMedium.ttf")format("ttf");
  font-weight: normal;
}


@font-face {
  font-family: "Monument Extended";
  src: url("../../assets/fonts/MonumentExtended-Regular.otf") format("otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  background: #bec2c7;
}

.coming-soon {
  position: absolute;
  top: 35%;
  transform: translate(-50% -50%);
  text-align: center;
  font-family: Monument Extended;
  font-weight: normal;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
}

.coming-soon h3 {
 font-weight: normal;
 line-height:72px;
}

.coming-soon p {
  font-family: Airbnb Cereal App;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #090909;
  text-align: center;

}

.coming-soon span {
  color: #090909
}

@media screen and (min-width:772px) {
  .coming-soon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Monument Extended;
    text-align: center;
    color: #FFFFFF;

  }
  .coming-soon h3{
    font-size: 60px;
    line-height: 72px;
    font-weight: normal;
  }
  .coming-soon p{
    line-height: 50px;
  }
}

@media screen and (max-width:600px) {
  .coming-soon p {
    text-align: center;
    padding-left: 20px;
  }
}

.soon {
  animation-name: enterFromRight;
  animation-duration: 3s;
  /* animation-delay: 2s; */
}

.coming {
  animation-name: enterFromLeft;
  animation-duration: 3s;
  /* animation-delay: 2s; */
}

/* @keyframes enterFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  50% {
    transform: translate(-10px);
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes enterFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  65% {
    transform: translate(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
} */